@model MedicalManagement.Domain.Entities.Bairro

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Bairro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade.Descricao)
        </dd>

        <dt>
            Bairro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.BairroId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
